---
---

@import "base";

body {
  margin-top: 1em;
  font-family: "Noto Sans", sans-serif;
}

.portrait-column {
    padding: 0;
}

.portrait-image {
    border-radius: 50%;
    max-width: 7em;
}

.author-me {
    font-weight: 600;
}

h2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.3em !important;
}

.columns {
    margin-bottom: 0 !important;
}

.publication-contrib {
    color: #555;
    font-size: 90%;
    margin-top: 0.25em;
}

.publication-links {
    margin-top: 0.3em;
}

.publication-link {
    margin-right: 0.75em;
    color: #000;
    white-space: nowrap;
}

@media print {
    html, body {
        height: auto;
        font-size: 9pt; /* changing to 10pt has no impact */
    }
}
